<table>
    <thread>
        <tr>
            <th>Job Order Number</th>
            <th>Service</th>
            <th>Department</th>
            <th>Description</th>
            <th>Classification</th>
            <th>Created At</th>
            <th>Engineering Unit</th>
            <th>Status</th>
            <th>Remarks</th>
            <th>Remarks As Of</th>
            <th>Actions</th>
        </tr>
    </thread>
    <tbody>
        <% @job_orders.each do |jo| %>
            <tr>
                <td><%= jo.job_order_number %></td>
                <td><a href="/joborders/service=<%= jo.service%>"> <%= jo.service%></a></td>
                <td><%= jo.department%></td>
                <td><%= jo.description%></td>
                <td><%= jo.classification%></td>
                <td><%= jo.created_at%></td>
                <td><%= jo.engineering_unit%></td>
                <td><%= jo.status%></td>
                <td><%= jo.remarks%></td>
                <td><%= jo.remarks_as_of%></td>
                <td><a href="/joborders/edit/number=<%= jo.job_order_number%>">Update</a> <a>Delete</a></td>
            </tr>
        <%end%>
    </tbody>
</table>